.container {
  max-width: 600px;
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Merienda', cursive;
}

.tower {
  padding-top: 200px;
  background-image: url(tower-img.jpg);
  background-position:center bottom;
  display: inline-block;
  height: 350px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.labels {
  display: inline-block;
  text-align: center;
}

.highlight {
  border: 4px solid #3f4a32;
}

.disc {
  background-color: #6f811c;
  height: 20px;
  border-radius: 15px;
  margin-top: 5px;
}

#size1 {
  width: 40px;
}

#size2 {
  width:55px;
}

#size3 {
  width: 70px;
}

#size4 {
  width: 85px;
}

#size5 {
  width: 100px;
}

#size6 {
  width: 115px;
}

#size7 {
  width: 130px;
}

#size8 {
  width: 145px;
}

#size9 {
  width: 160px;
}

#size10 {
  width: 175px;
}

.hidden {
  display: hidden;
}

a {
  margin-top: 2em;
}

h5 {
  color: #2f5b28;
}

#instructions, h3.text-center {
  margin-bottom: 1em;
}

.right {
  float: right;
}
