#container {
  max-width: 600px;
  margin-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Merienda', cursive;
}
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1.5em;
    background-color: #A8BCB1;
}

body {
  background-color: #ECDCCB;
  border-top: 1em solid #A8BCB1;
}

.tower {
  padding-top: 200px;
  background-image: url(tower-img.jpg);
  background-position:center bottom;
  display: inline-block;
  height: 350px;
  width: 32%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.labels {
  display: inline-block;
  text-align: center;
}

.highlight {
  border: 4px solid #3f4a32;
}

.disc {
  background-color: #6f811c;
  height: 1em;
  border-radius: 15px;
  margin-top: .4em;
}

#size1 {
  width: 30px;
}

#size2 {
  width:45px;
}

#size3 {
  width: 60px;
}

#size4 {
  width: 75px;
}

#size5 {
  width: 90px;
}

#size6 {
  width: 105px;
}

#size7 {
  width: 120px;
}

#size8 {
  width: 135px;
}

#size9 {
  width: 150px;
}

.hidden {
  display: hidden;
}

a {
  margin-top: 2em;
  text-decoration: none;
}

h5 {
  color: #2f5b28;
}

#instructions, h3.text-center {
  margin-bottom: 1em;
}

.right {
  float: right;
}
#smallNewGame {
  padding-top: 5px;
  display: none;
}

@media screen and (max-width: 630px) {
  #container {
    padding-left: 3em;
    padding-right: 3em;
  }

  #newGame {
    display: none;
  }

  #smallNewGame {
    display: block;
  }
}
